{% extends "index.html" %}
{% block title_block %}
    <title>Lecture Time Table</title>
{% endblock %}
{% block body_block%}
<div class="container">
    {% if current %}
        {% for clas in current %}
        <div class="card">
            <div class="card-header">
                Classes Currently On!
            </div>
            <div class="card-body">
                <h5 class="card-title">{{clas.subject}} | {{clas.LT}}</h5>
                {{clas.sltst | date:'h:i A'}} - {{clas.slten | date:'h:i A'}} <br> {{clas.teacher}} <br> {{clas.year}}
            </div>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    {% if next %}
        {% for clas in next %}
        <div class="card">
            <div class="card-header">
                Classes Starting Soon!
            </div>
            <div class="card-body">
                <h5 class="card-title">{{clas.subject}} | {{clas.LT}}</h5>
                {{clas.sltst | date:'h:i A'}} - {{clas.slten | date:'h:i A'}} <br> {{clas.teacher}} <br> {{clas.year}}
            </div>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    {% if noclass %}
        <div class="card">
            <div class="card-header">
                Take Rest Now ! No More Class Today.
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
