{% extends ext %}
    {% block title_block %}
      <title>About</title>
  {% endblock %}
  {% block body_block %}
      <div class="container">
        <div class="card">
          <div class="card-header text-center">
            About
        </div></div><br>
            <div class="card ">
          <div class="card-body row">
              <div class="col-md-3 col-lg-4 col-xl-3">
                  <img src="https://avatars1.githubusercontent.com/u/32427540?v=4" alt="Avatar" class="gravatar">
              </div>
            <div class="col-md-9 col-lg-9 col-xl-9">
            <h5 class="card-title">Mashu Ajmera</h5>
            <h6 class="card-subtitle mb-2">Front End Designer</h6>
            <p class="card-text">A full stack Web Developer and Content Writer.</p>
            <a href="http://www.instagram.com/mashuajmera" class="card-link">Instagram</a>
            <a href="http://www.github.com/MashuAjmera" class="card-link">GitHub</a>
        </div></div></div><br>
            <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anshu Musaddi</h5>
            <h6 class="card-subtitle mb-2">Back End Developer</h6>
            <p class="card-text">A full stack Web Developer and Machine Learning geek.</p>
            <a href="https://in.linkedin.com/in/anshumusaddi" class="card-link">LinkedIn</a>
            <a href="http://www.github.com/anshumusaddi" class="card-link">GitHub</a>
          </div>
        </div>
      </div>
  {% endblock %}
