<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% block title_block %}
            <title>CamPlus</title>
        {% endblock %}
    </head>
    <body>
        <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "/css/master.css" %}">
        <script src="{% static "js/popper.js" %}"></script>
        <script src="{% static "js/jquery-3.3.1.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">CamPlus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mess:menu' %}">Mess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'lecture:ttdisplay' %}">Lecture</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Library</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'trans:bus' %}">Transportation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" {% if mis != '#' %} target="_blank" rel="noopener noreferrer" {% endif %} href="{{ mis }}">Management</a>
                        </li>
                        {% if su == True %}
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="{% url 'admin:index' %}">Administration</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login:logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br>
        {% block body_block %}
            <div class="container">
                {% if name %}
                    <div class="card text-white bg-dark">
                        <div class="card-header">
                            Welcome {{ name }} !
                        </div>
                    </div>
                    <br>
                {% endif %}
                {% if current %}
                    {% for clas in current %}
                    <div class="card text-white bg-dark">
                        <div class="card-header">
                            Classes Currently On!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{clas.subject}} | {{clas.LT}}</h5>
                            {{clas.sltst | date:'h:i A'}} - {{clas.slten | date:'h:i A'}} <br> {{clas.teacher}} <br> {{clas.year}}
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                {% endif %}
                {% if next %}
                    {% for clas in next %}
                    <div class="card text-white bg-dark">
                        <div class="card-header">
                            Classes Starting Soon!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{clas.subject}} | {{clas.LT}}</h5>
                            {{clas.sltst | date:'h:i A'}} - {{clas.slten | date:'h:i A'}} <br> {{clas.teacher}} <br> {{clas.year}}
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                {% endif %}
                {% if cur %}
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Currently In Mess
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Time Left Before Closing : <span  id="timeleft">{{timeleft | date:'H:i'}}</span></h5>
                        {{cur | safe}}
                    </div>
                </div>
                <br>
                {% endif %}
                {% if latest %}
                    <div class="card text-white bg-dark">
                        <div class="card-header">
                            Next Bus
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Time In Which Bus Wil Depart: <span id="timeleftnb">{{timeleftnb | date:'H:i'}}</span></h5>
                            From {{latest.frm}} To {{latest.to}} Operated By {{latest.operator}} {% if latest.busno %}Having Bus Number {{latest.busno}}{% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if none == True %}
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        No Current Task !
                    </div>
                </div>
                {% endif %}
            </div>
        {% endblock %}
        <br>
        <script>
            function startTimer()
            {
                var timer = (document.querySelector('#timeleft').textContent+':59').split(/[:]/);
                timer = parseInt(timer[0],10)*60*60 + parseInt(timer[1],10)*60 + parseInt(timer[2],10);
                setInterval(function ()
                {
                    var hours = parseInt( timer /3600,10);
                    var minutes = parseInt((timer%3600) / 60, 10);
                    var seconds = parseInt(timer % (60), 10);
                    hours = hours < 10 ? "0" + hours : hours;
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    document.querySelector('#timeleft').textContent = hours + ":" + minutes;
                    if (--timer < 0) {
                        location.reload();
                    }
                }, 1000);
            }
            window.onload = function () {
                startTimer();
            };
            function startTimerBus()
            {
                var timer = (document.querySelector('#timeleftnb').textContent+':59').split(/[:]/);
                timer = parseInt(timer[0],10)*60*60 + parseInt(timer[1],10)*60 + parseInt(timer[2],10);
                setInterval(function ()
                {
                    var hours = parseInt( timer /3600,10);
                    var minutes = parseInt((timer%3600) / 60, 10);
                    var seconds = parseInt(timer % (60), 10);
                    hours = hours < 10 ? "0" + hours : hours;
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    document.querySelector('#timeleftnb').textContent = hours + ":" + minutes;
                    if (--timer < 0) {
                        location.reload();
                    }
                }, 1000);
            }
            window.onload = function () {
                startTimerBus();
            };
        </script>
        <footer>

        </footer>
    </body>
</html>
