<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title_block %}
            <title>CamPlus</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "/css/master.css" %}">
        <link rel="stylesheet" href="{% static "/css/fontawesome.css" %}">
    </head>
    <body>
        <script src="{% static "js/popper.js" %}"></script>
        <script src="{% static "js/jquery-3.3.1.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">CamPlus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mess:menu' %}">Mess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'lecture:ttdisplay' %}">Lecture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'trans:bus' %}">Transportation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" {% if lib != '#' %} target="_blank" rel="noopener noreferrer" {% endif %} href="{{ lib }}">Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" {% if mis != '#' %} target="_blank" rel="noopener noreferrer" {% endif %} href="{{ mis }}">Management</a>
                        </li>
                        {% if su == True %}
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="{% url 'admin:index' %}">Administration</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login:logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br>
        {% block body_block %}
            <div class="container">
                {% if name %}
                    <div class="card">
                        <div class="card-header">
                            Welcome {{ name }} !
                        </div>
                    </div>
                    <br>
                {% endif %}
                {% if current %}
                    {% for clas in current %}
                    <div class="card">
                        <div class="card-header">
                            Classes Currently On!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{clas.subject}} | {{clas.LT}}</h5>
                            {{clas.sltst | date:'h:i A'}} - {{clas.slten | date:'h:i A'}} <br> {{clas.teacher}} <br> {{clas.year}}
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                {% endif %}
                {% if next %}
                    {% for clas in next %}
                    <div class="card">
                        <div class="card-header">
                            Classes Starting Soon!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{clas.subject}} | {{clas.LT}}</h5>
                            {{clas.sltst | date:'h:i A'}} - {{clas.slten | date:'h:i A'}} <br> {{clas.teacher}} <br> {{clas.year}}
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                {% endif %}
                {% if cur %}
                <div class="card">
                    <div class="card-header">
                        Currently In Mess
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Time Left Before Closing : <span  id="timeleft">{{timeleft | date:'H:i'}}</span></h5>
                        {{cur | safe}}
                    </div>
                </div>
                <br>
                {% endif %}
                {% if latest %}
                    <div class="card">
                        <div class="card-header">
                            Next Bus
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bus Will Depart In <span id="timeleftnb">{{timeleftnb | date:'H:i'}}</span></h5>
                            From {{latest.frm}} To {{latest.to}} Operated By {{latest.operator}} {% if latest.busno %}Having Bus Number {{latest.busno}}{% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if none == True %}
                <div class="card">
                    <div class="card-header">
                        No Current Task !
                    </div>
                </div><br>
                {% endif %}
            </div>
        {% endblock %}
        <br>
        <script>
            function startTimer()
            {
                var timer = (document.querySelector('#timeleft').textContent+':59').split(/[:]/);
                timer = parseInt(timer[0],10)*60*60 + parseInt(timer[1],10)*60 + parseInt(timer[2],10);
                setInterval(function ()
                {
                    var hours = parseInt( timer /3600,10);
                    var minutes = parseInt((timer%3600) / 60, 10);
                    var seconds = parseInt(timer % (60), 10);
                    hours = hours < 10 ? "0" + hours : hours;
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    document.querySelector('#timeleft').textContent = hours + ":" + minutes;
                    if (--timer < 0) {
                        location.reload();
                    }
                }, 1000);
            }
            window.onload = function () {
                startTimer();
            };
            function startTimerBus()
            {
                var timer = (document.querySelector('#timeleftnb').textContent+':59').split(/[:]/);
                timer = parseInt(timer[0],10)*60*60 + parseInt(timer[1],10)*60 + parseInt(timer[2],10);
                setInterval(function ()
                {
                    var hours = parseInt( timer /3600,10);
                    var minutes = parseInt((timer%3600) / 60, 10);
                    var seconds = parseInt(timer % (60), 10);
                    hours = hours < 10 ? "0" + hours : hours;
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    document.querySelector('#timeleftnb').textContent = hours + ":" + minutes;
                    if (--timer < 0) {
                        location.reload();
                    }
                }, 1000);
            }
            window.onload = function () {
                startTimerBus();
            };
        </script>
<footer class="page-footer font-small text-white">

    <div style="background-color: #17252A;">
      <div class="container">

        <div class="row py-4 d-flex align-items-center">

          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0" >
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <a class="fb-ic" href="http://www.facebook.com">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <a class="gh-ic" href="http://www.facebook.com">
              <i class="fab fa-github mr-4"> </i>
            </a>
            <a class="li-ic" href="http://www.facebook.com">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="container text-center text-md-left mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">CamPlus</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" color="white" style="width: 60px">
          <p style="color: #FEFFFF">It's a web app that fits for every college students' needs. Keep track of all your upcoming events. Get lecture details. Plan your trips according to the best bus that fits you. Reminders for mess meals. And there are much more features to add.
</p>

        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">Legal</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" color="white" style="width: 60px;">
          <p>
            <a href="{% url 'about' %}">About</a>
          </p>
          <p>
            <a href="{% url 'privacy' %}">Privacy</a>
          </p>
          <p>
            <a href="{% url 'terms' %}">Terms</a>
          </p>
          <p>
            <a href="{% url 'cookies' %}">Cookies</a>
          </p><p>
            <a href="{% url 'feedback' %}">Feedback</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" color="#FEFFFF" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i><a href="https://goo.gl/maps/qCfPNRbe6u52" target="_blank"> LNMIIT, Jaipur, RJ, India</a></p>
          <p>
            <i class="fa fa-envelope mr-3"></i><a href="mailto:camplustechnologies@gmail.com" target="_blank"> camplustechnologies@gmail.com</a></p>
          <p>
            <i class="fa fa-phone mr-3"></i> +91 7073 637246</p>
          <p >
            <i class="fa fa-phone mr-3"></i> +91 9330 522033</p>
        </div>
      </div>
    </div>
    <div class="container footer-copyright text-center py-3 col-md-12 col-lg-12 col-xl-12" style="background-color: #17252A;">© 2018
      <a href="{% url 'login:signin' %}"> CamPlus Technologies</a>. All Rights Reserved.
    </div>
  </footer>
    </body>
</html>
