{% extends "index.html" %}
{% block title_block %}
    <title>Bus Time Table</title>
{% endblock %}
{% block body_block%}
    {% if latest %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Next Bus
                </div>
                <div class="card-body" >
                    <h5 class="card-title">Bus Will Depart In <span id="timeleftnb">{{timeleftnb | date:'H:i'}}</span></h5>
                    From {{latest.frm}} To {{latest.to}} Operated By {{latest.operator}} {% if latest.busno %}Having Bus Number {{latest.busno}}{% endif %}
                </div>
            </div>
        <br>
            <div class="btn-group" role="group" aria-label="Basic example" style="color: #17252A">
                <a href="{% url 'trans:bus' %}" class="btn tablebutt" style="background-color: #2B7A78;">All</a>
                <a href="{% url 'trans:buslnm' %}" class="btn" style="background-color: #3AAFA9;">From LNMIIT</a>
                <a href="{% url 'trans:buscit' %}" class="btn tablebutt" style="background-color: #2B7A78;">To LNMIIT</a>
                <a href="{% url 'trans:busoth' %}" class="btn" style="background-color: #3AAFA9;">Other</a>
            </div>
        <br><br>
    {% endif %}
    {% if buslst %}
    <table class="table table-stripes">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">From
                <th scope="col">To</th>
                <th scope="col">Operator</th>
                <th scope="col">
                <div id="mobile-cmpt">Bus Number</div></th>
            </tr>
        </thead>
        <tbody>
            {% for bus in buslst %}
                <tr>
                    <td>{{bus.time | date:'h:i A'}}</td>
                    <td>{{bus.frm}}</td>
                    <td>{{bus.to}}</td>
                    <td>{{bus.operator}}</td>
                    <td>
                    <div id="mobile-cmpt">{{bus.busno}}</div></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    No More Buses Are Available For Today.
                </div>
            </div>
        </div>
        <br>
    {% endif %}
{% endblock %}
