@media (max-width: 1000px){
  #mobile-cmpt {
    display: none;
  }
}
html{
    height: 100%;
}
body {
    background-image: url("/static/images/pattern1.jpg");
    height: 100%;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    color: #FEFFFF;
    height: 100%;
    margin: 0;
}
.container {
    min-height: 100%;
    margin: 0 auto;
}
.navbar{
    background-color: #17252A;
}
.card-header, .card-footer{
     background-color: #2B7A78;
}
.card-body{
     background-color: #3AAFA9;
}
::selection {
    color: #3AAFA9;
    background: #FEFFFF;
}
a {
    color: #FEFFFF;
}
a:hover {
    color: #FEFFFF;
}
.formback{
    background-color: #2B7A78;
    color: #FEFFFF;
}
.form-control::-webkit-input-placeholder {
    color: #FEFFFF !important;
}
.btn{
    background-color:#17252A;
    color: #FEFFFF;
}
.tablebutt{
    background-color: #2C3034
}
.table-stripes tbody tr:nth-of-type(odd) {
  background-color: #2B7A78;
}
.table{
    background-color: #3AAFA9;
}
footer {
    background-color: #3AAFA9;
}
.footer-copyright{
    background-color: #17252A;
}
.about-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid #FEFFFF;
}
